<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml2/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title>Supero</title>
		<meta charset="utf-8" />
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="resources/css/bootstrap.min.css" rel="stylesheet" />
		<link href="resources/css/font-awesome.css" rel="stylesheet" />
		<link href="resources/css/app.css" rel="stylesheet" />
	</head>
	<body ng-app="Index" ng-controller="checkUser" ng-init="verifyUserKey();">
		<center>
			<div class="container">
				<div class="row" style="max-width: 300px; width: 100%;">
					<br/><br/><br/>
		        	<div ng-app="RegisterUser">
				        <div class="panel panel-default">
  							<div class="panel-heading">Entrar</div>
  							<div class="panel-body">
						        <form name="frmSubmitLogin" enctype="application/x-www-form-urlencoded" method="post" ng-controller="submitLogin" ng-submit="submitLogin();">
					        		<div class="form-group">
					          			<input type="text" name="user" ng-model="register.txUserEmail" class="form-control" placeholder="E-mail or User name" required="required" />
					          		</div>
					        		<div class="form-group">
					          			<input type="password" name="pass" ng-model="register.txPassword" class="form-control" placeholder="Password" required="required"/>
					        		</div>
					        		<div class="alert alert-danger" id="userLoginFail" role="alert" style="display: none;">Invalid e-mail/user name or password</div>
					        		<button type="submit" class="btn btn-success translatable" key="Enter">Enter</button>
					        		<div id="loadingSubmitLogin" style="display: none;"><i class="fa fa-spinner fa-pulse fa-3x"></i></div>
					      		</form>
					      	</div>
					    </div>
		        	</div>
		      	</div>
		    </div>
      	</center>
		<script src="resources/js/sha512.js"></script>
		<script src="resources/js/jquery.js"></script>
		<script src="resources/js/angular.min.js"></script>
		<script src="resources/js/bootstrap.min.js"></script>
		<script src="resources/js/app.js"></script>
	</body>
</html>